<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <H1> Enter the data to add your account in DB.</H1>
    <form method="post" action="/users">
        <input type="text" name="userName" placeholder="Enter your UserName" style="display: block;">
        <input type="email" name="email" placeholder="Enter your Email" style="display: block;">
        <input type="password" name="password" placeholder="Enter your password" style="display: block;">
        <button>ADD</button>
    </form>
</body>
</html>