<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>WELCOME IN JEETURAJ TIFFEN :</h1>
    <H3>WE have <%= count %> folowers.</H3>
    <button>click to join</button>
</body>
</html>