<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>WELCOME IN JEETURAJ TIFFEN SERVICE  </h1>
    <H3>WE have <%= count %> users.</H3>
    <form action="/users/add"><button>click to join</button></form>
    <form action="/users"><button>SEE USERS</button></form>
</body>
</html>